$jet    : #222222;
$red    : #FF6200;
$green  : #B5F700;
$pink   : #DB0099;
$grey   : #909B98;
$blue   : #00CB9D;

div .description {
  color: $grey;
  font-size: 1.75em;
}

div .text-link {
  color: $blue;
  font-size: 1.75em;
}
