$jet    : #222222;
$red    : #FF6200;
$green  : #B5F700;
$pink   : #DB0099;

#ldyan-name {
  font-size: 12em;
  font-weight: bold;
}

div .ldyan-title {
  text-align: center;
}

div .ldyan-red {
  color: $red;
}

div .ldyan-green {
  color: $green;
}

div .ldyan-pink {
  color: $pink;
}
