// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$jet    : #222222;
$red    : #FF6200;
$green  : #B5F700;
$pink   : #DB0099;
$blue   : #00CB9D;
$grey   : #909B98;

a {
  color: $jet;
}

.title {
  color: $grey;
}

.text-link {
  color: $blue;
  font-size: 3em;
}

div .song-tile {
  padding: 15px;
  border-bottom: 2px solid $grey;
}
