$jet    : #222222;
$red    : #FF6200;
$green  : #B5F700;
$pink   : #DB0099;
$blue   : #00CB9D;
$snow   : #909B98;

#splash-name {
  font-size: 8em;
  font-weight: bold;
}

div .splash-title {
  // text-align: center;
}

div .splash-red {
  color: $red;
}

div .splash-green {
  color: $green;
}

div .splash-pink {
  color: $pink;
}

div .splash-blue {
  color: $blue;
}
