<!DOCTYPE html>
<html>
  <head>
    <title>Ldyan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div>
      <div class="row">
        <div class="medium-10 medium-centered columns">
          <br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <div class="splash-title">
            <div class="medium-8 columns">
              <span id="splash-name" class="splash-green">Jesse</span>
            </div>
            <div class="medium-4 columns">
              <br/><br/><br/>
              <i class="fa fa-twitter fa-5x splash-blue" aria-hidden="true"></i>
              <i class="fa fa-github fa-5x splash-pink" aria-hidden="true"></i>
              <i class="fa fa-linkedin-square fa-5x splash-red" aria-hidden="true"></i>
            </div>
            <span id="splash-name" class="splash-green">Chamberlain</span>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
